<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="/static\css\studentdetail.css">
</head>
<body>
    <div class="container">
        <h1>Student Details</h1>
        <table>
            <thead>
                <tr>
                    <th>Roll_Number</th>
                    <th>student_name</th>
                    <th>student_place</th>
                    <th>year_of_studying</th>
                    <th>branch</th>
                    <th>father_name</th>
                    <th>mother_name</th>
                </tr>
            </thead>
            <tbody>
                {% for studentrg in student_details %}
                <tr>
                    <td>{{ studentrg['id'] }}</td>
                    <td>{{ studentrg['student_name'] }}</td>
                    <td>{{ studentrg['student_place'] }}</td>
                    <td>{{ studentrg['year_of_studying'] }}</td>
                    <td>{{ studentrg['branch'] }}</td>
                    <td>{{ studentrg['father_name'] }}</td>
                    <td>{{ studentrg['mother_name'] }}</td>
                    <!-- Add more fields as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
